
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not Found</title>
    <link rel="stylesheet" href="/../assets/css/err.css">
</head>
<body>
    <h1><b>COOL!!!</b> You found 400 page.</h1>
    <section class="error-container">
      <span>4</span>
      <span><span class="screen-reader-text">0</span></span>
      <span>0</span>
    </section>
    <iframe width="926" height="521" src="https://www.youtube.com/embed/bHZDROJmEI0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>